#create-room-button {
  height: 40px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 5px 15px;
  margin-left: 20px;
}

.game-page__title {
  font-size: 25px;
  font-weight: 600;
  color: var(--main-font-color);
  margin: 10px 0px 40px 20px;
}
