#game-page {
  justify-content: space-evenly;
}

#room-name__label {
  font-size: 30px;
  font-weight: 600;
}

#back-to-rooms__button {
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.game-window {
  width: 300px;
  height: 300px;
  border: 1px solid var(--main-button-background-color);
}

#game-window__button {
  height: 50px;
  font-size: 20px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 10px 30px;
}

.players__item {
  margin-bottom: 10px;
}

.players__item-name-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.players__item-status {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

.players__item-progress-bar-wrapper {
  width: 252px;
  height: 26px;
  border: 1px dashed var(--main-button-border-color);
}

.players__item-progress-bar {
  background-color: rgba(6, 119, 85, 0.5);
  height: 25px;
}

.done {
  background-color: rgb(6, 119, 85);
}

.ready {
  background-color: rgb(12, 75, 12);
}

.not-ready {
  background-color: rgb(126, 15, 15);
}

#countdown {
  font-size: 50px;
  font-weight: 600;
  color: var(--main-button-background-color);
}

#game-text-selected {
  background-color: rgba(6, 119, 85, 0.726);
  white-space: pre;
}

#game-text {
  white-space: pre;
}

#game-time-left {
  font-size: 10px;
  font-style: italic;
  text-align: right;
  margin-bottom: 50px;
}
