.room-cards__container {
    margin-top: 20px;
    justify-content: space-evenly;
}

.room-cards__item {
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid var(--main-button-border-color);
}

.room-cards__name {
  font-size: 20px;
  font-weight: 600;
  margin: 30px 50px;
}

.room-cards__button {
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 5px 10px;
  margin-bottom: 10px;
}
